<%
  watermark_style = ""
  if post.recipient_username && SiteSetting.discourse_username_in_email_watermark_enabled
    require 'base64'
    svg = <<~SVG
      <svg xmlns='http://www.w3.org/2000/svg' width='300' height='300'>
        <text x='50%' y='50%' font-family='sans-serif' font-size='30' fill='#f0f0f0' transform='rotate(-45 150 150)' text-anchor='middle'>#{post.recipient_username}</text>
      </svg>
    SVG
    encoded_svg = Base64.strict_encode64(svg)
    watermark_style = "background-image: url('data:image/svg+xml;base64,#{encoded_svg}'); background-repeat: repeat;"
  end
%>
<div class='post-wrapper <%= post.whisper? ? "whisper" : "" %> <%= use_excerpt ? "excerpt" : ""%>' style='<%= watermark_style %>'>
  <table>
    <tr>
      <td class='user-avatar'>
        <img src="<%= post.user.small_avatar_url %>" title="<%= post.user.username%>">
      </td>
      <td>
        <%- if SiteSetting.prioritize_username_in_ux %>
          <a rel='nofollow' class="username username-link" href="<%=Discourse.base_url%>/u/<%= post.user.username_lower%>" target="_blank"><%= post.user.username %></a>
          <%- if show_name_on_post(post) %>
            <span class='user-name username-title'><%= post.user.name %></span>
          <% end %>
        <%- else %>
          <a rel='nofollow' class="username username-link" href="<%=Discourse.base_url%>/u/<%= post.user.username_lower%>" target="_blank"><%= post.user.name %></a>
          <%- if show_username_on_post(post) %>
            <span class='username username-title'><%= post.user.username %></span>
          <% end %>
        <%- end %>
        <%- if post.user.title.present? %>
          <span class='user-title'><%= post.user.title %></span>
        <% end %>
        <br>
        <span class='notification-date'><%= short_date(post.created_at) %></span>
      </td>
    </tr>
  </table>
  <div class='body'><%= format_for_email(post, use_excerpt) %></div>
  <% if post.recipient_username %>
    <div class='recipient-username'>
      <%= SiteSetting.discourse_username_in_email_intended_for_text.gsub("username", post.recipient_username) %>
    </div>
  <% end %>
</div>
